<div class='padding_4p center_80'>
    <div id='welcome'>
        <img id='home_check' src='assets/img/home_check.png'/>
        <div id='home_intro'>
            <h1>Welcome to Mini-Surveys!</h1>
            <p>Welcome to Mini-Surveys, a user-generated survey website coded and designed from scratch by Nicholas Chicirda. This site uses MEAN. To see the rest of Nick’s work and information go to <a href='http://www.nickchic.com'>nickchic.com</a>. Git Repo for this site can be seen <a href='https://github.com/nickchic/Mini_Surveys'>here</a>.</p>
        </div>
    </div>
    <div id='home_bottom'>
        <app-register id='home_reg'></app-register>
        <app-login id='home_login'></app-login>
    </div>

</div>
