<div class='padding_4p' id='new_form'>
    <div *ngIf='_userService.logged_in()'>
        <h2 class='form_header'>Create a Survey</h2>
        <form (submit)='newSurvey($event)' #surveyForm='ngForm'>
            <div class='single_input_wrap'>
                <p class='input_title'>Question</p>
                <input type="text" name="question" [(ngModel)]='survey.question' #question='ngModel' required minlength='8'>
                <div class='error' *ngIf='question.errors'>
                    <p *ngIf='question.errors.minlength'>Needs to be at least 8 Characters.</p>
                </div>
            </div>
            <div *ngFor='let option of survey.options; let idx = index'>
                <form>
                    <div class='single_input_wrap'>
                        <p class='input_title'>Option {{idx+1}}</p>
                        <input type="text" name='option_{{idx}}' [(ngModel)]='survey.options[idx].option' [(value)]="survey.options[idx].option" #option='ngModel' required minlength='2'>
                        <button class='delete_button' (click)='deleteOption($event, idx)' *ngIf='survey.options.length > 2'>Delete Option {{idx+1}}</button>
                        <div class='error' *ngIf='option.errors'>
                            <p *ngIf='option.errors.minlength'>Needs to be at least 2 Characters.</p>
                        </div>
                    </div>
                </form>
            </div>
            <button (click)='addOption($event)'>Add Option</button>
            <input type='submit' [ngClass]="{'disabled_button': !surveyForm.form.valid, 'enabled_button' : surveyForm.form.valid}" [disabled]='!surveyForm.form.valid'/>
          </form>
    </div>
    <div *ngIf='!_userService.logged_in()'>
      <p>Log in to add a survey!</p>
    </div>
</div>
